.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2001em 1712.4em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.arrow-down:before {
      background-position: 0em 0em;
      width: 12.9em;
      height: 12.9em;
  }




  .icon.arrow-down-fat:before {
      background-position: 0em -12.9em;
      width: 45.1847em;
      height: 45.1847em;
  }




  .icon.arrow-left:before {
      background-position: 0em -58.1em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-left--height:before {
      background-position: 0em -105.9em;
      width: 1.673em;
      height: 5.1981em;
  }




  .icon.arrow-left-fat:before {
      background-position: 0em -111.1em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.arrow-right:before {
      background-position: 0em -160.3em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-right--height:before {
      background-position: 0em -208.1em;
      width: 1.673em;
      height: 5.1981em;
  }




  .icon.arrow-right-fat:before {
      background-position: 0em -213.3em;
      width: 49.2004em;
      height: 49.2004em;
  }




  .icon.arrow-up:before {
      background-position: 0em -262.6em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.arrow-up-fat:before {
      background-position: 0em -269em;
      width: 45.1847em;
      height: 45.1846em;
  }




  .icon.cancel:before {
      background-position: 0em -314.2em;
      width: 47.519999999999996em;
      height: 47.519999999999996em;
  }




  .icon.card:before {
      background-position: 0em -361.8em;
      width: 3.3em;
      height: 2.3em;
  }




  .icon.cart:before {
      background-position: 0em -364.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.check-round:before {
      background-position: 0em -415.3em;
      width: 19.1667em;
      height: 19.1667em;
  }




  .icon.checked:before {
      background-position: 0em -434.5em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.clock:before {
      background-position: 0em -437.1em;
      width: 37.296em;
      height: 37.296em;
  }




  .icon.close:before {
      background-position: 0em -474.4em;
      width: 5.4422em;
      height: 5.4422em;
  }




  .icon.close-fat:before {
      background-position: 0em -479.9em;
      width: 2.19em;
      height: 2.19em;
  }




  .icon.craft--color:before {
      background-position: 0em -482.1em;
      width: 50.133300000000006em;
      height: 48.786500000000004em;
  }




  .icon.download:before {
      background-position: 0em -530.9em;
      width: 47.12em;
      height: 47.12em;
  }




  .icon.edit:before {
      background-position: 0em -578.1em;
      width: 2.2em;
      height: 2.2001999999999997em;
  }




  .icon.exit:before {
      background-position: 0em -580.4em;
      width: 2.2499em;
      height: 2.3em;
  }




  .icon.garbage:before {
      background-position: 0em -582.7em;
      width: 5.9em;
      height: 5.9em;
  }




  .icon.heart:before {
      background-position: 0em -588.6em;
      width: 47.170100000000005em;
      height: 47.170100000000005em;
  }




  .icon.house:before {
      background-position: 0em -635.8em;
      width: 48.619600000000005em;
      height: 48.619600000000005em;
  }




  .icon.info:before {
      background-position: 0em -684.5em;
      width: 33em;
      height: 33em;
  }




  .icon.interface:before {
      background-position: 0em -717.5em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.like:before {
      background-position: 0em -766.6em;
      width: 9.6em;
      height: 9.5428em;
  }




  .icon.location:before {
      background-position: 0em -776.2em;
      width: 1.7em;
      height: 2.4em;
  }




  .icon.login:before {
      background-position: 0em -778.6em;
      width: 1.9em;
      height: 3.3em;
  }




  .icon.magnifying-glass:before {
      background-position: 0em -781.9em;
      width: 45.1em;
      height: 45.1em;
  }




  .icon.mail:before {
      background-position: 0em -827em;
      width: 48.33em;
      height: 48.33em;
  }




  .icon.menu:before {
      background-position: 0em -875.4em;
      width: 45.9em;
      height: 45.9em;
  }




  .icon.minus:before {
      background-position: 0em -921.3em;
      width: 1.6em;
      height: 0.2em;
  }




  .icon.mount--color:before {
      background-position: 0em -921.5em;
      width: 44.384em;
      height: 50.7945em;
  }




  .icon.pan--color:before {
      background-position: 0em -972.3em;
      width: 50.239999999999995em;
      height: 50.368em;
  }




  .icon.phone-call:before {
      background-position: 0em -1022.7em;
      width: 47.3806em;
      height: 47.3806em;
  }




  .icon.placeholder:before {
      background-position: 0em -1070.1em;
      width: 47.7em;
      height: 47.7em;
  }




  .icon.plus:before {
      background-position: 0em -1117.8em;
      width: 1.4em;
      height: 1.4em;
  }




  .icon.repeat:before {
      background-position: 0em -1119.2em;
      width: 2.4em;
      height: 2.2em;
  }




  .icon.search:before {
      background-position: 0em -1121.4em;
      width: 2.3em;
      height: 2.3em;
  }




  .icon.share:before {
      background-position: 0em -1123.7em;
      width: 48.160000000000004em;
      height: 48.160000000000004em;
  }




  .icon.smile-good:before {
      background-position: 0em -1171.9em;
      width: 4.3em;
      height: 4.3em;
  }




  .icon.soc-facebook:before {
      background-position: 0em -1176.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-facebook-box:before {
      background-position: 0em -1227.4em;
      width: 9em;
      height: 9em;
  }




  .icon.soc-google:before {
      background-position: 0em -1236.4em;
      width: 9.6669em;
      height: 9.6669em;
  }




  .icon.soc-in:before {
      background-position: 0em -1246.1em;
      width: 43.011700000000005em;
      height: 43.011700000000005em;
  }




  .icon.soc-instagram:before {
      background-position: 0em -1289.2em;
      width: 43.8536em;
      height: 43.8536em;
  }




  .icon.soc-ok:before {
      background-position: 0em -1333.1em;
      width: 9.5481em;
      height: 9.5481em;
  }




  .icon.soc-telegram:before {
      background-position: 0em -1342.7em;
      width: 30em;
      height: 30em;
  }




  .icon.soc-twitter:before {
      background-position: 0em -1372.7em;
      width: 41.015499999999996em;
      height: 41.015499999999996em;
  }




  .icon.soc-vk:before {
      background-position: 0em -1413.8em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-whatsapp:before {
      background-position: 0em -1465em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-youtube:before {
      background-position: 0em -1516.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.star:before {
      background-position: 0em -1567.4em;
      width: 49.0727em;
      height: 49.0727em;
  }




  .icon.unlike:before {
      background-position: 0em -1616.5em;
      width: 9.6em;
      height: 9.5428em;
  }




  .icon.upload:before {
      background-position: 0em -1626.1em;
      width: 51.2001em;
      height: 51.2001em;
  }




  .icon.user:before {
      background-position: 0em -1677.4em;
      width: 35em;
      height: 35em;
  }





