@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/config/_color.styl"
@import "variable/config/_typography.styl"
@import "variable/config/_btn.styl"
@import "variable/config/_input.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

.main-cont
	center(1200px,10px)

.main-cont--md
	center(1600px,10px)

.page
	f()
	fl()
	min-height 100vh
	position relative
.content
	flex-grow 1

//modal
.modal-layer
	width: 100%
	height: 100vh
	position: fixed
	z-index 1000
	top 0
	left 0
	visibility: hidden
	transition all 1s // duration for fade
	opacity 0

.modal-layer-show
	visibility: visible
	opacity 1

.modal-cont
	width: 100%
	height: 100%
	position: relative
	max-height 100%
	overflow: auto

.modal-filter
	position: absolute
	top: 0
	left: 0
	background: #18191da1
	width: 100%
	height: 100vh
	min-height 100vh

.modal
	+below(768px)
		width: 100%
		box-shadow 0 0 0
	box-shadow 0 2px 4px rgba(0, 0, 0, 0.24)
	transform translateY(-350%)
	position: absolute
	opacity .1
	transition transform .8s, opacity 1s
	width: 570px
	max-width 570px
	.order__row
		margin-bottom: 20px
		border-bottom 0
.modal--sm
	max-width 320px

.modal-content
	+below(640px)
		height: 100%
		padding: 40px 20px
		overflow-y scroll
		width: 100%!important
		br(0)
	background: white
	position: relative
	padding: 40px 15%
	br(10px)
	position relative
.modal__show
	max-height 100%
	opacity 1
	transform translateY(0)
	position: relative

.modal-close
	+below(768px)
		top 12px
		right 12px
	position: absolute
	top: 20px
	right: 20px
	cp()
	.icon
		size 20px
		fill black

.modal-open
	overflow: hidden
	overflow-y: scroll
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%
.modal-wrap
	position: fixed
	width: 100%
	height: 100%
	overflow-y auto
	flex(mid)

.modal-title
	+below(768px)
		font-size: 24px
	margin-bottom: 20px
	text-align: center
	color black
	font-family "Roboto Slab"
	@extend .type--xl

.modal-text
	+below(768px)
		width: 100%
		font-size: 12px
	text-align: center
	margin: 20px auto 20px auto
	//width: 80%
	font-size: 16px
	line-height: 1.2
	color #5f5f5f

.validate-form
	input,textarea
		width: 100%
		margin-bottom: 20px
.modal-send
	@extend .btn--md
	@extend .btn--mark
	min-width 120px
	margin: 20px auto 0 auto
.agree-row
	f()
	align-items: center
	margin:10px 0 20px 0
	a
		text-decoration: underline
		display: inline-block

.agree-row__text
	width: 100%
	color black
	font-size: 12px
	a
		color #9c9a9a
		text-decoration: none

.field-error
	.error
		display: none!important

.field-error
	input
		border 1px solid #dc3d3d
.style-label--checkbox.field-error
	.sytle-input-element
		border 1px solid #dc3d3d

.modal-content--true
	flex(mid)
	fl()
	br(10px)
	.icon--success
		size 120px
		margin-bottom: 20px

.modal-text-true
	text-align: center
	font-weight: bold
	font-family "Roboto Slab"
	@extend .type--lg
//modal===end

// select
.nice-select
	br(5px)
	margin-bottom: 20px
	display: block
	color #000000
	font-size 14px
	font-weight 700
	.list
		width: calc(100% )
		left 0px
		border-radius 0 0 5px 5px
		border 0px solid $border-color
		border-top 0
		margin-top: 0
		li
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
	.current //max width dots
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		display: inline-block
		max-width 120px

.nice-select.open
	border-radius 5px 5px 0 0

select.select-beauty
	display: none!important

.element-select
	padding: 20px 0

.nice-select:active, .nice-select.open, .nice-select:focus
	border 1px solid $border-color
// select === end

// range slider
.range__wrap
	margin-bottom 50px
	margin-top -20px
	.irs-bar-edge
		background blue
		height 15px
		border-radius 10px 0px 0px 10px
		width 25px
	.irs-bar
		height 15px
		background blue
	.irs-line-left
		height 15px
		border-radius 10px 0px 0px 10px
		background #e6ecf6
	.irs-line-right
		height 15px
		background #e6ecf6
		border-radius 0px 10px 10px 0px
	.irs-line-mid
		background #e6ecf6
		height 15px
	.irs-line
		height 15px
	.single
		background url('../img/range-btn.png')
	.irs-slider
		width 45px
		height 30px
	.irs-min, .irs-max,.irs-single
		top 45px
		background transparent
		color black
.range__wrap--green
	.irs-bar-edge
		background green
	.irs-bar
		background green
.range-set
	flex(between)
	input
		+below(768px)
			width 80px
		padding 0
		margin-bottom 10px
		border 1px solid grey--light
		padding 3px
		font-size 16px
		width 110px
// range slider === end

// slide menu
.head-toggle
	size 50px
	flex(mid)
	cp()
	+above(1025px)
		display: none
	.icon
		size 25px
		fill black
	.icon-close
		display: none

.head-toggle--open
	.icon-close
		display: block
	.icon-open
		display: none

.slide-menu
	+above(1025px)
		display: none !important
	+below(480px)
		width: 100%
	background: black
	color white
	position: fixed
	height: 100% //Отступ хедер
	z-index 1250
	top 0
	right 0
	width: 320px
	transform translateX(100%)
	tr(all)
.slide-menu--open
	transform translateX(0%)
	overflow-y: auto
.slide-menu__list
	margin-bottom: 40px
.slide-menu__list-el
	display: block
	margin-bottom: 40px
	color white
	font-size: 16px
	up()
	tr(all)
	&:hover
		color red
.body-fix
	position: fixed!important
	overflow-Y: scroll!important
	width:100%!important
// slide menu === end

// animate top menu
@keyframes slideInDown
	from
		transform: translate3d(0, -100%, 0)
		visibility: visible;
	to
		transform: translate3d(0, 0, 0)

.shrink
	position fixed
	top 0
	left 0
	background white
	width 100%
	margin 0
	animation:  slideInDown  1s 1 ease-in-out;
// animate top menu === end


.header
	+below(480px)
		padding-top: 5px
	position relative
	z-index 5
.head
	+below(1024px)
		padding: 0
	f()
	align-items center
	justify-content space-between
	padding: 20px 0
.head-logo
	+below(1024px)
		width: 200px
	+below(640px)
		width: 120px
	width: 300px

.head-nav
	+below(1024px)
		display none
	width: 60%
	flex(between)
.head-nav__el
	up()
	cp()
	color black
	position relative
	&:before
		content ''
		tr()
		position absolute
		top 110%
		left 0
		width: 30px
		height: 2px
		background: black
		opacity: 0
		transform translateX(-15px)
	&:hover
		&:before
			content ''
			transform translateX(0)
			opacity: 1
			display block

.head-nav__el--active
	font-weight: 700
	position relative
	&:before
		content ''
		position absolute
		opacity: 1!important
		top 110%
		left 0
		width: 30px
		height: 2px
		background: black
		transform translateX(0)


.video-bg
	position absolute
	width: 100%
	height: 100%
	top 0
	left 0

.video-bg--filter
	position absolute
	width: 100%
	height: 100%
	top 0
	left 0
	background: #fcc111c9

.footer
	position relative

.page--main
	height: 100vh


.footer-spin-wrap
	position absolute
	top 0
	left 0
.footer-spin
	+below(1280px)
		background-size initial
	+below(1024px)
		background: black
		background-image: none!important
	bg-full()
	width: 100%
	background-position: center bottom -80px;
	max-width 1600px
	margin-left auto
	margin-right auto
.soc-row
	f()
.soc-row--yellow
	.soc-row
		margin-top: 30px
	.soc-row__el
		border-color $yellow
		.icon
			fill $yellow
.soc-row--mid
	flex(mid)
.footer-soc
	+below(1024px)
		height:auto
	height: 100px
	f()
	align-items:center
	justify-content flex-end
	.soc-row
		+below(1024px)
			margin 10px auto

		margin-top: 30px
	.soc-row__el
		+below(1024px)
			size 25px
		border-color $yellow
		.icon
			+below(1024px)
				size 10px
			fill $yellow
.soc-row__el
	&:hover
		background: black
		border 1px solid black
		.icon
			fill $yellow
	round()
	flex(mid)
	tr(all)
	size 35px
	border 2px solid $border-color
	margin-right: 10px
	.icon
		size 15px


.footer-spin-cont
	center(1600px,0)
	position relative

.main-page
	height: 100%
	margin-left auto
	margin-right auto
	max-width 1200px
	padding: 0 10px
	f()
	fl()
	justify-content center
	position relative

.slogan
	color black
	font-family "Roboto Slab"
	font-size: 82px
	margin-bottom: 30px
	font-weight: 700
	+below(1200px)
		font-size: 7vw
		width: 70%
	+below(640px)
		font-size:10vw
		margin-top: -15%

.slogan-sub
	line-height: 1.6

.header--up
	position relative
	.header
		position absolute
		top 0
		left 0
		width: 100%

.section-yellow
	+below(1024px)
		padding-top: 100px
	padding-top: 200px
	bg-full()
	background-size 350vw
	background-position center bottom 20px

.section-title
	text-align center
	font-family "Roboto Slab"
	@extend .type--xl
	margin-bottom: 30px
	text-shadow 0 1px 0 rgba(255, 255, 255, 0.5)
.section-title--left
	text-align: left
.section-title-sub
	text-align center
	@extend .type--md
	font-weight 700
	text-transform uppercase
	margin-bottom: 10px
	line-height: 1.6
.section-text
	center(690px,0)
	text-align center
	line-height: 1.6

// === убираем выделения активности при клик ===
.slick-slide
	&:hover
		outline none!important
	&:active
		outline none!important
	&:focus
		outline none!important
// === убираем выделения активности при клике end ===

// === for custom navigation ===
.slider-wrap
	position relative

//Навигация снаружи
.slider-wrap--simple
	+below(640px)
		padding: 0 30px
	padding: 0 20px
	.slider-control
		round()
		flex(mid)
		tr(all)
		size 40px
		position: absolute
		top 50%
		margin-top: -20px
		z-index 10
		cp()
		&:hover
			.icon
				fill $yellow
		.icon
			size 25px
	.slider-control--left
		+below(640px)
			left -10px
		left -20px
	.slider-control--right
		+below(640px)
			right -10px
		right -20px
//Навигация снаружи end

//Навигация внутри
.slider-wrap--inarrow
	.slider-control
		flex(mid)
		tr(all)
		position: absolute
		top 50%
		z-index 10
		cp()
		margin-top: -50px
		.icon
			+below(640px)
				size 30px
			fill black
			size 50px
	.slider-control--left
		+below(640px)
			left -10px
		left 0
	.slider-control--right
		+below(640px)
			right -10px
		right 0
	.slider-item
		width: 80%
		margin-left auto
		margin-right auto
//Навигация внутри
// === for custom navigation ===


//=== Внешний вид пагинации ===
.slick-dots
	+below(720px)
		bottom -20px
	width: 100%
	display: flex !important
	align-items: center
	justify-content: center
	bottom 0
	left 0
	li
		+below(720px)
			size 10px
			flex(mid)
	.dot
		+below(720px)
			flex(mid)
			size 6px
		size 10px
		display: block
		round()
		border 1px solid black
	.slick-active
		.dot
			background: black
//=== Внешний вид пагинации end===

.slick-slide
	margin: 0 10px
.slick-list
	margin: 0 -10px

.item-img
	bg-full()
	padding: 28% 10%
	margin-bottom: 20px
.item-title
	text-shadow 0 1px 0 rgba(255, 255, 255, 0.5)
	font-family "Roboto Slab"
	@extend .type--lgx
	text-align center

.item-slider
	margin: 40px 0

.arrow
	flex(mid)
	.icon
		fill white
		size 40px
	padding: 0 0 40px 0

.section
	padding: 60px 0
	+below(640px)
		padding: 30px 0
.advant
	+below(1024px)
		grid-gap 5%
	+below(640px)
		grid-template-columns: repeat(1, 1fr)
	display: grid
	grid-gap 15%
	grid-template-columns: repeat(3, 1fr)

.advant__el
	f()
	align-items center
	fl()

.advant__el-icon
	.icon
		size 70px
	margin-bottom: 20px

.advant__el-title
	@extend .type--md
	font-weight 700
	text-transform uppercase
	width: 100%
	text-align center
	line-height: 1.6
.advant__el-line
	height: 2px
	width: 80px
	background: $yellow
	margin: 20px 0
.advant__el-text
	text-align center
	line-height: 1.6

.btn-row-mid
	flex(mid)
	margin: 40px 0

thead
	td
		font-weight: 700

.price-cont
	+below(640px)
		fw()
	f()
	justify-content space-between

.price
	+below(640px)
		width: 100%
		margin-bottom: 20px
	width: 50%
.price-info
	+below(1024px)
		width: 45%
	+below(640px)
		width: 100%
	line-height: 1.6
	padding-left: 30px
	border-left 2px solid $yellow
	width: 35%
	p
		margin-top: 0

.payment
	flex(between)

.payment__el
	width: 22%
	img
		width: 100%

.text
	p
		line-height: 1.6
	a
		text-decoration: underline


.seal
	position absolute
	bottom 20px
	right 20px

.modal-contact
	margin-bottom: 20px
	&:last-child
		margin-bottom: 0
.modal-contact__type
	font-weight: 300
	margin-bottom: 10px
.modal-contact__val
	@extend .type--lg
	text-shadow 0 1px 0 rgba(255, 255, 255, 0.5)
	color #000000
	font-family "Roboto Slab"


// modals
.login-drop-wrap
	position: absolute
	right: 0
	background: white
	z-index 15
	top 100%
	border-radius 10px
.login-drop
	border-radius 10px
	display: none
	position: relative
	top 100%
	padding: 20px
	border 1px solid $border-color
	width: 250px
	&:before
		content ''
		position: absolute
		size 16px
		border-left 1px solid $border-color
		border-top 1px solid $border-color
		transform rotate(45deg)
		top - 8px
		left 50%
		margin-left: -8px
		background: white
		+below(1200px)
			left initial
			right 2px
.login-drop--active
	opacity:1

.login
	position: relative
	padding-bottom: 10px
	margin-bottom: -10px
//.login-enter
.login-enter--active
	color $yellow
	border-bottom 0
.login-drop__head
	f()
	margin-bottom: 20px
.login-toggle
	//border-bottom 1px dashed $border-color
	cp()
	font-family "Roboto Slab"
	@extend .type--lg
	opacity: .6
	font-weight: 700
	&:nth-child(1)
		padding-right: 10px
		margin-right: 10px
		border-right 1px solid $border-color

.login-toggle--active
	opacity:1
	border-bottom 0
.login-wrap
	.input
		margin-bottom: 20px
	input
		width: 100%
	opacity:0
	left -9999px
	height: 0
	overflow: hidden
.login-wrap--active
	opacity:1
	left 0
	height: auto
	transition opacity .6s
.login-form
	margin-bottom: 20px
	.btn--md
		margin-bottom: 0
.login-remember
	margin-bottom: 20px

.login-fogot
	color $yellow
	text-decoration: underline
	link()
	display inline-block
	cp()
.login-soc
	margin-top: 20px
	padding-top: 20px
	border-top 1px solid $border-color

.login-soc__text
	opacity:.6
	margin-bottom: 20px
.login-soc-row
	f()
.login-soc-el
	.icon
		size 25px
	&:nth-child(1)
		margin-right: 10px

.visible
	opacity: 1
	transform translateY(0)
	top 0

.login-btn-code
	@extend .btn--mark
	@extend .btn--md
	width: 100%

.login-btn-recode
	@extend .btn--md
	@extend .btn--light
	width: 100%
	margin: 20px 0

.login-btn-back
	@extend .btn--light
	@extend .btn--md
	width: 100%
	padding: 12px

.login-code-text
	font-size: 11px
	margin-bottom: 20px
	line-height: 1.4
// modals === end

.head-black
	.head
		+below(1024px)
			margin-top: 0
		margin-top: -40px
		padding 0
.head-top-wrap
	+below(1024px)
		display none
	background: #000000
	padding: 10px 0
	color white

	position relative
.head-top
	f()
	align-items center
.lang-toggle
	flex(mid)
	margin-left: 150px
	z-index 10
.lang-toggle__el
	color white
	margin-right: 10px
	display inline-block
	text-decoration: underline
	font-weight: 300
	up()
	tr()
	&:hover
		color: $yellow
.lang-toggle__el--active
	text-decoration: none
	font-weight: 700
.head-phone
	flex(mid)
	margin-left auto
	margin-right: 20px
	z-index 10
	a
		color white
	.icon
		margin-right: 10px
		size 20px
		fill $yellow
.auth
	f()
	cp()
	z-index 10
	align-items center
	color white
	margin-right: 20px
.auth-text
	margin-right: 10px
.auth-icon
	margin-right: 10px
	.icon
		size 20px
		fill $yellow
.auth-enter
	up()
	text-decoration: underline
	cp()
	tr()
	&:hover
		color $yellow

.cart
	flex(mid)
	z-index 10
	position relative
.cart-icon
	.icon
		size 20px
		fill $yellow
.cart-val
	position absolute
	size 14px
	flex(mid)
	round()
	text-align center
	color white
	font-size: 10px
	background: red
	top -3px
	right: -3px

.footer-black-wrap
	+below(640px)
		padding: 30px 0
	background: black
	padding: 50px 0
	margin-top: 70px
//.main-cont
.footer-black
	fw()
	f()
	justify-content space-between
.footer-black-info
	+below(640px)
		width: 100%
		margin-top: 0
		flex(between)
		margin-bottom: 20px
	width: 30%
	margin-top: -80px
.footer-logo
	img
		+below(640px)
			width: 170px
		+below(480px)
			width: 100px

.footer-copyright
	+below(640px)
		display none
	color white
	text-align center
	margin-top: 60px
.footer-nav
	+below(640px)
		width: 48%
	+below(480px)
		width: 100%
		margin-bottom: 30px
	width: 30%
.footer-title
	color white
	font-family "Roboto Slab"
	@extend .type--lgx
	margin-bottom: 30px
.footer-menu
	column-count 2
.footer-menu__el
	+below(768px)
		text-transform: none
	line-height: 1.6
	up()
	color white
	display block
	margin-bottom: 20px
.footer-contact
	+below(640px)
		width: 48%
	+below(480px)
		width: 100%
	width: 30%
.footer-contact__el
	f()
	align-items center
	margin-bottom: 20px
	@extend .type--md
	up()
	a
		color white
	.icon
		size 20px
		fill $yellow
		margin-right: 20px

.header--yellow
	.header
		background: $yellow

.gallery-main-slider__el
	padding: 30% 10%
	bg-full()

.gallery-nav-slider__el
	padding: 40% 10%
	bg-full()
	cp()
.gallery-nav-slider

	.slick-current
		tr()
		background-color: black
		position relative
		&:before
			content ''
			width: 100%
			height: 2px
			position absolute
			left 0
			bottom 0px
			background: black
	.slick-track
		margin-left: 0px
	.slick-list
		margin: 0 -10px
.gallery-main-slider

	margin-bottom 20px

.product
	+below(640px)
		fw()
	f()
	justify-content space-between

.gallery-img
	+below(640px)
		width: 100%
		margin-bottom: 30px

	width: 55%

.product-wrap
	+below(1024px)
		padding: 30px 0
	padding: 80px 0
	background: $yellow
	margin-bottom: 50px

.product-info
	+below(768px)
		+below(640px)
			width: 100%
	width: 40%
.product-title
	font-family "Roboto Slab"
	@extend .type--xxl
	margin-bottom: 20px

.product-descr
	margin-bottom: 20px

.product-cost
	+below(960px)
		fw()
	flex(between)
.product-cost-info
	+below(960px)
		width: 100%
		margin-bottom: 20px
	+below(480px)
		justify-content center
	f()
	align-items flex-end
	font-family "Roboto Slab"
	margin-right: 30px
	white-space nowrap
.product-cost__val
	+below(480px)
		font-weight: 700
		font-size: 38px
		text-align center
	line-height: 1
	@extend .type--xl
	font-weight 400
	margin-right: 10px
.product-cost__type
	@extend .type--mdx

.product-get
	+below(960px)
		width: 100%
	@extend .btn--md
	@extend .btn--white
	min-width 150px

//.product-tab
.product-tab-head
	+below(640px)
		overflow-x: scroll
	f()
	border-bottom 1px solid $border-color
.product-tab-head__el
	+below(1024px)
		width: 100%
		font-size: 18px
		padding: 20px
	+below(640px)
		font-size: 14px
		white-space nowrap
	padding: 30px
	font-family "Roboto Slab"
	@extend .type--lg
	font-weight 300
	width: 25%
	margin-bottom: -1px
	text-align center
	cp()
	border-bottom 2px solid transparent
	tr()
	&:hover
		border-bottom 2px solid $yellow
.product-tab-head__el--active
	border-bottom 2px solid $yellow
	font-weight: 700
//.product-tab-cont
.product-tab-cont__el
	+below(640px)
		padding: 30px 0 0 0
	display none
	padding: 50px 0
.product-tab-cont__el--active
	display block

.book-row
	f()
	fw()
	align-items: flex-end
	margin-bottom: 20px
.book-row__title
	max-width: 80%
	line-height: 1.6
	font-weight: 700
.book-row__dot
	border-bottom 1px dashed #00000017
	flex-grow 1
.book-row__value
	text-align: right
	max-width: 50%
	vertical-align: bottom
	opacity: .8
.product-char--multy
	+below(640px)
		column-count 1
	column-count 2
	column-gap 60px

.product-char-wrap
	+below(640px)
		fw()
	f()
	justify-content space-between
	align-items:flex-start
	.product-char
		+below(640px)
			width: 100%
		width: 50%
.product-char
	+below(640px)
		width: 100%
		margin-bottom: 20px
	//width: 50%
.product-note
	+below(640px)
		width: 100%
	width: 300px
	padding: 30px
	background: $yellow
.product-note__title
	font-size: 22px
	font-weight: 700
	margin-bottom: 10px
.product-note__text
	line-height: 1.6
	margin-bottom: 20px
.product-note__get
	width: 70%
	text-decoration: underline
	font-weight: 700
	display inline-block
	line-height: 1.6

// BASKET
.basket-wrap
	+below(768px)
		fw()
		margin-bottom: 30px
	f()
	justify-content: space-between
	align-items: flex-start
	margin-bottom: 100px

.modal
	.basket-wrap
		margin-bottom: 0
.basket-list
	+below(768px)
		width: 100%
	+below(640px)
		padding: 0
	width: 75%
	background: white
	border 1px solid $border-color
.basket-el
	+below(640px)
		fw()
		position: relative
		flex(mid)
		fl()
	margin: 10px 0
	padding: 10px 30px
	border-bottom 1px solid $border-color
	flex(between)
	&:nth-last-child(2)
		border-bottom 0
.basket-el__img
	+below(640px)
		size(70px)
		align-self center
		margin-right: 0
	br(10px)
	bg-full()
	background-size contain
	margin-right: 30px
	align-self flex-start
	padding: 7% 10%
.basket-el__info
	+below(640px)
		width: 100%
		//width calc(100% - 90px)
		text-align center
	width: 50%
.basket-el__title
	+below(640px)
		max-width calc(100% - 25px)
	@extend .type--md
	font-weight 700
	margin-bottom: 15px
	display: inline-block
	span
		link()
.ingr-list
	f()
	align-items: center
	fw()

.basket-el__incr
	+below(768px)
		margin-left: 20px
	+below(640px)
		margin-left: 0
		margin-top: 10px
	width: 120px
//.elements-icr-block
.basket-el__price
	+below(640px)
		width: 100%
		text-align: center
		margin: 10px 0
		font-size: 28px
	width: 15%
	text-align: center
	@extend .type--lg
	font-weight 700
.basket-el__remove
	+below(640px)
		top 10px
		right 10px
		position: absolute
	.icon
		+below(640px)
			size 18px
		size 25px
		fill #c2c2c2
		tr(all)
		cp()
		&:hover
			fill $yellow
.basket-info
	+below(1024px)
		width: 30%
	+below(768px)
		width: 100%
		border 1px solid $border-color
		padding: 25px
		br(20px)
		margin-left: auto
		margin-right: auto
		max-width 480px
		margin-top: 20px
	width: 25%
	padding:0 0 40px 25px
	margin-left: 25px
	//border-left 1px solid $border-color

//.basket-info

//increment
.incr
	+below(640px)
		width: 100%
	f()
	justify-content: space-between
	position relative
	width 100px
	border-top 1px solid $border-color
	border-bottom 1px solid $border-color
	border-radius 38px
	user-select none
	background: white
.incr__nav
	flex(mid)
	tr(background )
	round()
	size 34px
	border 1px solid $border-color
	background white
	.icon
		size 12px
		fill #b3b3b3
		opacity:1
	&:hover
		cp()
		background-color $yellow
		border 0
		.icon
			fill white
	&:active
		background-color $yellow
.incr__val
	flex(mid)
	background white
	position relative
	tr(all)
	color black
	font-weight 700

.item__incr
	+below(640px)
		width: 100%
	width: 100px
//increment===end

.basket-cost
	flex(mid)
	fl()
.basket-title
	color #aaadb2
	@extend .type--lg
	font-weight 500
	margin-bottom: 15px
.basket-price
	+below(768px)
		font-size: 28px
	color #1b2230
	@extend .type--xl
	font-weight 700
	margin-bottom: 15px
.basket-sale
	@extend .type--lg
	font-weight 500
	f()
	margin-bottom: 30px
.basket-sale__text
	color #aaadb2
	margin-right: 5px
.basket-sale__val
	color $yellow

.basket-promo
	flex(mid)
.basket-promo__input
	width: 80%
	position: relative
	margin-bottom: 30px
	.input
		@extend .type--lg
		font-weight 700
		color black
		width: 100%
		padding-right: 35px
		text-align: center
		&:focus
			border-color black
	.icon
		size 20px
		position: absolute
		top calc(50% - 10px)
		right: 15px
		display: none
.basket-promo__input--true
	.icon-true
		display: block
		fill #06a318
.basket-promo__input--false
	.icon-false
		top calc(50% - 7px)
		display: block
		fill $yellow
		size 14px
.basket-descr
	margin-bottom: 15px
.basket-enter
	margin-bottom: 15px
	line-height: 1.6
.basket-auth
	link($yellow)
	cp()
	margin-right: 5px
.basket-code
	margin-bottom: 40px
	.input
		width: 100%
.basket-deliver
	+below(768px)
		text-align: center
		display: block
	display: inline-block
	span
		link($yellow)
.basket-get
	@extend .btn--md
	@extend .btn--mark
	width: 100%
	margin-top: 30px

.basket-empty
	width: 100%
	flex(mid)
	fl()
	margin-bottom: 30px
	padding: 40px 0
.basket-empty--hidden
	display: none
.basket-empty__icon
	.icon
		size 80px
		margin-bottom: 20px
.basket-empty__title
	@extend .type--lg
	font-weight 700
	color black
	margin-bottom: 10px
.basket-empty__text
	margin-bottom: 30px
.basket-empty__get
	@extend .btn--md
	@extend .btn--mark

// BASKET === end

.content--extend
	padding-top: 50px
.content--gray
	+below(1024px)
		margin-top: 0
	background: #fafafa
	margin-top: -35px
	padding: 90px 0
	margin-bottom: -70px
// ORDER
.order-tab
	f()
	border 1px solid $yellow
	margin-bottom: 30px
	border-radius 10px
	overflow: hidden
.order-tab__el
	padding: 15px 20px
	width: 50%
	text-align: center
	color $yellow
	cp()
.order-tab__el--active
	background: $yellow
	color white

.order
	+below(1024px)
		width: 100%
	+below(768px)
		margin-bottom: 30px
	+below(640px)
		width: 100%
	width: 100%

.order-time
	+below(480px)
		fl()
		flex(mid)
	f()
	align-items: center
	margin-bottom: 20px
	.nice-select
		+below(768px)
			width: 100%
		margin-bottom: 0
		width: 60%
.order-time__title
	+below(480px)
		width: 100%
		text-align: center
		margin-bottom: 20px
	@extend .type--md
	margin-right: 20px
.radio-list
	.check-el
		margin-bottom: 20px

.basket-cont
	width: 45%
	+below(768px)
		width: 100%

.input-row--adress
	+below(960px)
		fw()
	flex(between)
	.input
		+below(960px)
			width: 48%
		width: 23%
.order-title
	@extend .type--lg
	font-weight: 700
	margin-bottom: 20px
.payment__type__el
	margin-bottom: 20px
.panel
	+below(1200px)
		width: 48%
	+below(768px)
		center(480px,0)
	width: 40%
	.basket-list
		width: 100%
		margin-bottom: 40px
	.basket-el
		+below(640px)
			padding: 10px
		padding: 20px 10px
		fw()
		position relative
	.basket-el__info
		+below(640px)
			width: 100%
		width calc(100% - 140px)
	.basket-el__img
		size 70px
	.basket-el__remove
		position absolute
		top 5px
		right: 10px
		.icon
			size 20px
	.basket-el__incr
		+below(640px)
			margin:10px auto
.basket-el__cost
	+below(640px)
		fw()
	flex(between)

.payment-card__el
	+below(380px)
		width: 100%
	flex(between)
	@extend .btn--md
	@extend .btn--light
	padding: 20px
	margin-bottom: 20px
	width 320px
	br(4px)
	.icon
		width 45px
		height: 15px
		margin-right: 20px
		fill $yellow
		margin-bottom: -2px
.payment-card__el-icon
	.icon
		size 20px
//.payment-card__el-val
.payment-card__other
	+below(380px)
		width: 100%
	@extend .btn--md
	@extend .btn--light
	padding: 20px
	margin-bottom: 20px
	width 320px
	br(4px)
	up()
.payment-card__el--active
	background: $yellow
	color white
	.icon
		fill white

.payment-container
	+below(640px)
		margin-top: -40px

.payment-wrap
	margin-bottom: 40px
.order-cont
	margin-bottom: 40px

.order-cont-deliver
	margin-bottom: 20px
	color #8d8d8d

.order-auth
	+below(640px)
		grid-template-columns: 1fr
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(2, 1fr)
	margin-bottom: 40px
.order-auth__text
	color #8d8d8d
	margin-bottom: 5px
	font-size: 12px
.order-auth__link
	cp()
	text-decoration: underline

.panel-get
	@extend .btn--md
	@extend .btn--mark
	width: 100%
	margin-bottom: 15px
.panel-back
	@extend .btn--md
	@extend .btn--light
	width: 100%

.panel-footer
	margin-top: 20px
// ORDER === end

.title
	@extend .type--lgx
	font-weight: 700
	margin-bottom: 25px
	line-height: 1.6

.title--sm
	@extend .type--lg
	font-weight: 700
	margin-bottom: 25px
	line-height: 1.6

//LK

.lk-bg__left
	width: 50%
	height: 100%
	position: absolute
	top 0
	left 0
.lk-bg__right
	+below(1024px)
		display: none
	width: 50%
	height: 100%
	position: absolute
	top 0
	right 0
	background: $border-color
.lk
	+below(1024px)
		fw()
	f()


.lk-user
	+below(1024px)
		width: 100%
		padding-right: 0
	width: 50%
	padding-right: 40px
.lk-title
	+below(768px)
		margin-bottom: 30px
	flex(between)
	margin-bottom: 30px
.lk-title__text
	+below(1200px)
		font-size: 40px
	+below(768px)
		font-size: 16px
	@extend .title
	font-weight 900
	up()
	margin-bottom: 0
.lk-title__exit
	+below(768px)
		display: none
	@extend .btn--md
	min-width auto
	padding: 20px 30px
.user
	+below(640px)
		margin-bottom: 30px
		display: grid
		grid-gap 20px
		grid-template-columns: repeat(2, 1fr)
	margin-bottom: 50px
.user-row
	+below(640px)
		fw()
		margin-bottom: 20px
	f()
	margin-bottom: 35px
	align-items: center
.user__name
	+below(640px)
		width: 100%
		margin-bottom: 10px
	width: 40%
.user__val
	@extend .type--md
	font-weight: 700
.lk-title-sub
	@extend .type--lgx
	font-weight:700
	margin-bottom: 30px
.user-card
	+below(480px)
		grid-template-columns repeat(1,1fr);
	display: grid
	grid-gap 20px
	grid-template-columns repeat(2,1fr);
	margin-bottom: 50px
.user-card__el
	height: 160px
	border 1px solid $border-color
	tr(all)
	&:hover
		border 1px solid #93908e
		.user-card__add-text
			color #93908e
		.user-card__add
			border 1px solid #93908e
			.icon
				fill #93908e
.user-card__el--active
	f()
	fl()
	tr(all)
	padding: 25px 20px
	background: $yellow
	position: relative
	border 0!important
	&:hover
		background: darken($yellow,5)
.user-card-remove
	flex(mid)
	br(2px)
	opacity .6
	size 22px
	border 1px solid white
	position: absolute
	right: 20px
	top 20px
	tr(all)
	&:hover
		opacity 1
		.icon
			opacity 1
	.icon
		tr(all)
		opacity .6
		size 8px
		fill white
.user-card-icon
	.icon
		fill white
		width 50px
		height: 15px
.user-card-numb
	@extend .type--lg
	color white
	margin-top: auto
	margin-bottom: 10px
.user-card__el--add
	flex(mid)
	fl()
	cp()
.user-card__add
	size 40px
	border 1px solid #e3ddd8
	flex(mid)
	br(4px)
	tr(all)
	margin-bottom: 5px
	.icon
		tr(all)
		size 18px
		fill #e3ddd8
.user-card__add-text
	color #e3ddd8
	tr(all)
.lk-adr
	+below(640px)
		margin-bottom: 0
	+below(480px)
		grid-template-columns repeat(1,1fr);
	display: grid
	grid-gap 20px
	grid-template-columns repeat(2,1fr);
	margin-bottom: 50px
.lk-adr__el
	border 1px solid $border-color
	cp()
	br(10px)
	padding: 30px 20px
	position: relative
	background: white
	&:hover
		border 1px solid #93908e
		.lk-adr__add-text
			color #93908e
		.lk-adr__add
			border 1px solid #93908e
			.icon
				fill #93908e
.lk-adr__el--active
	position: relative
	f()
	fl()
	border 1px solid $yellow
.lk-adr-remove
	flex(mid)
	br(2px)
	opacity .6
	size 22px
	border 1px solid #cbbaac
	position: absolute
	right: 20px
	top 20px
	&:hover
		border 1px solid $yellow
		opacity 1
		.icon
			opacity 1
			fill green
	.icon
		tr(all)
		opacity .6
		size 8px
		fill #cbbaac
.lk-adr-adress
	margin-top: auto
	margin-bottom: 10px
.lk-adr-text
	tr(all)
	@extend .type--md
	color $yellow
	font-weight: 700
	margin-bottom: 20px
//.lk-adr-edit
.lk-adr__el--add
	flex(mid)
	fl()
	cp()
.lk-adr__add
	size 40px
	border 1px solid #e3ddd8
	flex(mid)
	br(4px)
	tr(all)
	margin-bottom: 15px
	.icon
		tr(all)
		size 18px
		fill #e3ddd8
.lk-adr__add-text
	tr(all)
	color #e3ddd8
.lk-order
	+below(1024px)
		padding: 30px 10px
		margin-left: -10px
		margin-right: -10px
		width calc(100% + 20px)
	+below(640px)
		margin-bottom: -30px
	width: 47%
	padding: 0 0 30px 40px
.user__val-info
	f()

.user__val-edit
	margin-left: 20px
	cp()
	color $yellow
	font-weight: 400
	font-size: 14px
.user__val-input
	f()
	.input-name
		margin-bottom: 0
.user__val--add
	cp()
	font-size: 14px
	link($yellow)

.user__val--bonus
	color $yellow
.user__val-send
	+below(640px)
		font-size: 12px
	@extend .btn--md
	@extend .btn--mark
	padding: 10px 20px
	min-width auto
	height: 50px

.history-title
	+below(640px)
		text-align: center
	@extend .type--lgx
	font-weight: 700
	margin-bottom: 35px

.history
	width: 100%
	border-radius 10px
	//overflow: hidden
	padding-bottom 30px
	+below(640px)
		max-width 340px
		margin-left: auto
		margin-right: auto
.history-card
	+below(1024px)
		.top
			display: none
	perspective 600px
	padding: 5px
	margin-bottom: 20px
	br(5px)
	&:last-child
		margin-bottom: 0
.history-card__wrap
	+below(640px)
		fw()
	cp()
	f()
	br(10px)
	tr(all)
	background: white
	padding: 20px
	align-items: center
	transform-style: preserve-3d;
	//transition all .6s
	&:hover
		box-shadow 0 10px 15px rgba(0, 0, 0, 0.1)
.history-card__wrap--active
	transform rotateX(90deg)
	backface-visibility hidden
.history-card__info
	+below(640px)
		width: 100%
	margin-right: 5%
.history-card__date
	margin-bottom: 5px
	+below(640px)
		margin-bottom: 10px
.history-card__numb
	+below(640px)
		margin-bottom: 10px
	opacity .6
.history-card__price
	+below(640px)
		margin-left:initial
		width: 100%
		flex(between)
	margin-left: auto
	@extend .type--lg

.history-card__list
	+below(640px)
		width: 100%
		margin: 20px 0
	+below(480px)
		grid-template-columns repeat(auto-fit, minmax(35px, 35px));
	display: grid
	grid-gap 15px
	grid-template-columns repeat(4,1fr);
.history-card__list-el
	+below(480px)
		size 35px
	size 40px
	round()
	bg-full()
	position: relative
.history-card__list-el-val
	position: absolute
	right: -8px
	top -2px
	size 24px
	background: #ca0000
	color white
	font-weight 700
	round()
	flex(mid)
	@extend .type--sm


.history-card__list-el--last
	.history-card__list-el-val
		width: 100%
		height: 100%
		left 0
		top 0
		opacity .8
		font-size: 14px
//.history-card--open

.history-info
	box-shadow 0 10px 15px rgba(0, 0, 0, 0.1)
	background-color #ffffff
	padding: 20px
	margin-bottom: 20px
	display: none
	br(10px)
.history-info--active
	display: block
//.history-card

.history-info__head
	+below(640px)
		margin-left: auto
		margin-right: auto
		max-width 320px
	f()
	margin-bottom: 20px
.history-info__head-date
	margin-right: 15px
.history-info__head-state
	color green
	font-weight: 700
.history-info__head-state--false
	color red
.history-info__head-state--wait
	color $yellow
.history-info__head-numb
	margin-left: auto
	opacity .6
	font-weight: 700
.history-info__list
	+below(640px)
		margin-bottom: 20px
	margin-bottom: 25px
.history-info__el
	+below(640px)
		fw()
		max-width 320px
		margin-left: auto
		margin-right: auto
		padding-bottom: 10px
		position: relative
	f()
	align-items: center
	margin-bottom: 10px
	padding-bottom: 20px
	border-bottom 1px solid $border-color
.history-info__el-img
	+below(480px)
		size 35px
	size 50px
	bg-full()
	background-size contain
	border 1px solid $border-color
	position: relative
	margin-right: 20px
.history-info__el-about
	+below(640px)
		width: 70%
	width: 50%
.history-info__el-title
	margin-bottom: 5px
.history-info__el-text
	opacity .6
.history-info__el-count
	+below(640px)
		margin-left:initial
		margin-top: 10px
		position: absolute
		size 20px
		background: white
		top -10px
		font-weight:700
		font-size: 10px

	size 40px
	border 1px solid $border-color
	flex(mid)
	margin-left: auto
	margin-right: 10%
.history-info__el-price
	+below(640px)
		margin-top: 10px
	flex(mid)
	@extend .type--lg
	font-weight:700

.history-info-footer
	+below(640px)
		fw()
		justify-content: space-between
		padding-top: 0
	f()
	margin-top: 20px
	align-items: center
.history-info-total
	+below(640px)
		width: 100%
		justify-content: space-between
	f()
	align-items: center
.history-info-total__text
	margin-right: 10px
.history-info-total__val
	color $yellow
	@extend .type--xl
	font-weight: 700
	font-size: 24px
.history-info-get
	+below(640px)
		width: 100%
		margin: 20px 0
	@extend .btn--sm
	@extend .btn--mark
	margin-right: auto
	padding: 10px 20px
	flex(mid)
	.icon
		size 18px
		margin-right: 10px
		fill white
.histiry-empty
	+below(480px)
		width: 100%
	width: 320px
	line-height: 1.6
.lk-user__wrap,.lk-order__wrap
	+below(1024px)
		max-width 768px
		margin-left: auto
		margin-right: auto

.history-card__price_text
	+above(641px)
		display: none
.history-card__price_val
	font-weight:700
.content--lk
	position: relative

.lk-adr-conf
	position: absolute
	f()
	top 20px
	right: 20px
	.icon
		opacity:.2
		tr(all)
		&:hover
			opacity:1

.lk-adr-conf__el--edit
	.icon
		size 18px
		margin-right: 10px
.lk-adr-conf__el--remove
	.icon
		size 20px

.user-config
	f()
	.icon
		opacity:.2
		tr(all)
		cp()
		&:hover
			opacity:1

.user-config__el--edit
	.icon
		size 25px
		margin-right: 30px
.user-config__el--remove
	.icon
		size 25px

.history-card--active
	.history-card__icon
		transform rotate(180deg)
	.history-card__wrap
		border-radius 10px 10px 0 0
		box-shadow 0 0 0!important
	.history-info
		box-shadow 0 0 0!important
		border 1px solid #f7f7f7
		border-radius 0 0 10px 10px

.history-card__icon
	+below(640px)
		margin-bottom: 20px
	size 30px
	round()
	flex(mid)
	border 1px solid $border-color
	margin-right: 20px
	tr()
	.icon
		size 12px

//LK ===end

.success
	center(600px,0)
	flex(mid)
	fl()
.success-icon
	margin-bottom: 20px
	.icon
		+below(768px)
			size 120px
		size 200px
.success-title
	@extend .type--xl
	font-family: "Roboto Slab"
	font-weight: 700
.success-text
	text-align center
	
.success-link
	font-weight:700
	text-decoration: underline
	@extend .type--mdx
	margin-bottom: 40px

.success-get
	+below(640px)
		padding: 10px
	@extend .btn--md
	@extend .btn--mark
	padding: 20px 50px


.mobile-location
	f()
	align-items: center
	padding: 20px 20px 0 20px
.mobile-location__icon
	margin-right: 10px
	.icon
		fill $yellow
		size 25px
.mobile-location__val
	f()
	color $yellow
	font-weight: 600
.mobile-phone
	f()
	padding: 20px
.mobile-phone__icon
	margin-right: 10px
	margin-top: 4px
	.icon
		size 20px
		fill $yellow
.mobile-phone__val
	color white
	@extend .type--lg
	font-weight 700
	display: block
	margin-right: 20px
	&:hover
		color $yellow
.mobile-mail
	color white
	opacity: .6
	margin-top: 5px
	display inline-block
	&:hover
		color $yellow
.mobile-lk
	f()
	align-items: center
	padding: 20px
	border-bottom 1px solid #423d39
	border-top 1px solid #423d39
	margin-top: -1px
	position: relative
	.icon
		size 20px
		margin-right: 10px
		fill $yellow
	span
		color white
		font-size: 18px
		font-weight 600
	&:hover
		span
			color $yellow!important
.mobile-lk__auth
	+below(640px)
		top -5px
		right: -3px
	position: absolute
	top -10px
	right: 0
	.icon
		size 12px
		fill $green
.mobile-menu
	padding: 20px 0
.mobile-menu__el
	@extend .type--md
	display: block
	color white
	margin-bottom: 25px
	padding-left: 50px
	font-size: 18px
	font-weight: 600
	tr()
	up()
	font-family: "Roboto Slab";
	&:last-child
		margin-bottom: 0
	&:hover
		color $yellow
.mobile-row
	font-weight: 600
	padding: 20px
	border-bottom 1px solid #423d39
	a
		color white
		font-size: 18px
.mobile-row--deliver
	padding-left: 50px

.slide-menu-close
	position absolute
	top: 15px
	right 15px
	cp()
	.icon
		size 15px
		fill white

.mobile-logo
	f()
	align-items center
	padding: 30px 20px 20px 20px
	border-bottom 1px solid #423d39
	.cart
		margin-left: 20px
		.cart-icon
			.icon
				size 26px
				margin-top: 10px
		.cart-val
			top 3px
			right -5px
	img
		width: 100px
	.lang-toggle
		margin-left: auto