include block_html/_style.pug
include block_html/_include.pug

.page.page--main
	+header()
	.video-bg
	.video-bg--filter
	.content
		.main-page
			.slogan Стройте и летайте с удовольствием
			.slogan-sub Евгений Власов <br> российский конструктор авиамоделей, пилот
	+footer("spin")
include ./block_html/_script.pug
