mixin footer()
	//block footer
	.footer
		.footer-spin(style="background-image:url('img/spin.png')")
			.main-cont
				.footer-soc
					.soc-row
						a(href="#").soc-row__el
							+icon("soc-instagram","icon")
						a(href="#").soc-row__el
							+icon("soc-vk","icon")
						a(href="#").soc-row__el
							+icon("soc-facebook","icon")
	//block footer end
	+modal()