-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'Наборы',
			'href':'catalog'
		},
		{
			'name':'Лазерная нарезка',
			'href':'cutting'
		},
		{
			'name':'Оплата и доставка',
			'href':'payment'
		},
		{
			'name':'Карточка товара',
			'href':'item'
		},
		{
			'name':'Оформление заказа',
			'href':'order'
		},
		{
			'name':'Корзина',
			'href':'basket'
		},
		{
			'name':'Личный кабинет',
			'href':'lk'
		},
		{
			'name':'Успешное оформление',
			'href':'success'
		},
		{
			'name':'Модальные окна',
			'href':'modal'
		}
	]

