-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'Наборы',
			'href':'catalog'
		},
		{
			'name':'Лазерная нарезка',
			'href':'cutting'
		},
		{
			'name':'Оплата и доставка',
			'href':'payment'
		}
	]

