mixin header(type)
	//block header
	if(type==='black')
		.head-black
			.head-top-wrap
				.main-cont
					.head-top
						.lang-toggle
							a(href="#").lang-toggle__el.lang-toggle__el--active RU
							a(href="#").lang-toggle__el EN
						.head-phone
							+icon("phone-call","icon")
							a(href="tel:8 (495) 225 54 66") 8 (495) 225 54 66
						.auth
							.auth-text Здравствуйте,
							.auth-icon
								+icon("user","icon")
							.auth-enter войдите в аккаунт
						a(href="#").cart
							.cart-icon
								+icon("cart","icon")
								.cart-val 1
			+head()
	else
		+head()

	//block header end