mixin modal()
	.modal-layer
		.modal-filter
		.modal-wrap
			//warranty
			.modal.modal--seal(data-modal="warranty")
				.modal-content
					img(src="img/seal.png", alt="" class="seal")
					.modal-close
						+icon("close-fat","icon")
					.modal-title Гарантия
					.modal-text.text
						p Изготовитель предоставляет гарантию на всю продукцию сроком 12 месяцев.
						p Гарантийные обязательства распространяются на все детали, поставляемые в наборе при условии правильной сборки и эксплуатации модели.
						.btn--md.btn--mark.modal-send.modal-hide ОК
			//contact
			.modal(data-modal="contact")
				.modal-content
					.modal-close
						+icon("close-fat","icon")
					.modal-title Контакты
					.modal-text
						.modal-contact
							.modal-contact__type Телефон:
							a(href="tel:8 (495) 225 54 66").modal-contact__val 8 (495) 225 54 66
						.modal-contact
							.modal-contact__type E-mail:
							a(href="mailto:info@vlasov-rc.com").modal-contact__val info@vlasov-rc.com
			//success message
			.modal(data-modal="truemessage")
				.modal-content.modal-content--true
					+icon("interface","icon")
					.modal-text-true Ваша заявка принята


